.animation-enter {
  opacity: 0;
  z-index: 40;
}

.animation-enter-active {
  opacity: 1;
  transition: opacity 300ms linear;
}

.animation-exit {
  opacity: 1;
}

.animation-exit-active {
  opacity: 0;
  transition: opacity 300ms linear;
}

.jija-enter {
  opacity: 0;
}

.jija-enter-active {
  opacity: 1;
  transition: opacity 300ms linear;
}

.jija-exit {
  opacity: 1;
}

.jija-exit-active {
  opacity: 0;
  transition: opacity 300ms linear;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 20;
}

.slide {
  position: absolute;
  z-index: 40;
}

.modal {
  overflow-y: scroll;
  position: fixed;
  max-width: calc(100vw - 48px);
  height: 100%;
  left: 0;
  top: 0;
  z-index: 51;
}
